/* Geral */


html {
    font-family: 'Edu TAS Beginner', cursive;
}

#app {
    display: flex;
    flex-direction: column;

}

.panel{
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.55);
}